.parent {
  background-color: rgb(137, 160, 196);
  height: 400px;
  width: 400px;
}

.child {
  background-color: green;
  height: 50%;
  width: 50%;
  animation: left-to-right 1s ease-in forwards infinite alternate;
}

.parent:hover .child {
  animation-play-state: paused;
}
@keyframes left-to-right {
  0% {
    background-color: green;
    transform: translateX(0);
  }
  33% {
    background-color: rgb(83, 128, 0);
    transform: translateY(100%);
  }

  50% {
    background-color: orange;
  }
  66% {
    transform: translateX(100%) translateY(100%);
  }
  100% {
    background-color: yellow;
    transform: translateX(100%);
  }
}
